<form action="/poll/{{#isEditing}}{{poll._id}}/edit{{/isEditing}}{{^isEditing}}new{{/isEditing}}" method="post">
	{{#isEditing}}
	<h1>Editing Poll</h1>
	{{/isEditing}}
	<h2>Question</h2>
	<div class="form-group">
		<input type="text" class="form-control input-lg" name="question" placeholder="Enter a question..." value="{{poll.question}}">
	</div>

	<h2>Answers</h2>
	{{#poll.answers}}
	<div class="form-group">
		<input type="text" class="form-control input-lg" name="answers[]" placeholder="Enter an answer..." value="{{text}}">
	</div>
	{{/poll.answers}}
	<div class="form-group">
		<input type="text" class="form-control input-lg" name="answers[]" placeholder="Enter an answer...">
	</div>
	<div class="form-group">
		<input type="text" class="form-control input-lg" name="answers[]" placeholder="Enter an answer...">
	</div>
	<div class="form-group">
		<input type="text" class="form-control input-lg" name="answers[]" placeholder="Enter an answer...">
	</div>
	<fieldset>
		<legend>Options</legend>
		<div class="form-group">
			<label class="answer">
				<div class="input-group">
					<span class="input-group-addon">
						<input type="checkbox" name="multipleChoice"{{#poll.multipleChoice}} checked{{/poll.multipleChoice}}>
					</span>
					<p class="form-control">Allow multiple choice</p>
				</div>
			</label>
			<label class="answer">
				<div class="input-group">
					<span class="input-group-addon">
						<input type="checkbox" name="allowSameIP"{{#poll.allowSameIP}} checked{{/poll.allowSameIP}}>
					</span>
					<p class="form-control">Allow multiple votes from one IP</p>
				</div>
			</label>
		</div>
	</fieldset>
	<input type="submit" value="{{#isEditing}}Save Changes{{/isEditing}}{{^isEditing}}Create Poll{{/isEditing}}" class="btn btn-lg btn-success btn-block">
	{{#isEditing}}
	<a href="/poll/{{poll._id}}" class="btn btn-lg btn-danger btn-block">Discard Changes</a>
	{{/isEditing}}
</form>
