<form action="/poll/new" method="post">
	<h2>Question</h2>
	<div class="form-group">
		<input type="text" class="form-control input-lg" name="question" placeholder="Enter a question..." value="{{poll.question}}">
	</div>

	<h2>Answers</h2>
	{{#poll.answers}}
	<div class="form-group">
		<input type="text" class="form-control input-lg" name="answers[]" placeholder="Enter an answer..." value="{{text}}">
	</div>
	{{/poll.answers}}
	<div class="form-group">
		<input type="text" class="form-control input-lg" name="answers[]" placeholder="Enter an answer..." value="{{text}}">
	</div>
	<div class="form-group">
		<input type="text" class="form-control input-lg" name="answers[]" placeholder="Enter an answer..." value="{{text}}">
	</div>
	<div class="form-group">
		<input type="text" class="form-control input-lg" name="answers[]" placeholder="Enter an answer..." value="{{text}}">
	</div>
	<fieldset>
		<legend>Options</legend>
		<div class="form-group">
			<label class="answer">
				<div class="input-group">
					<span class="input-group-addon">
						<input type="checkbox" name="multipleChoice">
					</span>
					<p class="form-control">Allow multiple choice</p>
				</div>
			</label>
		</div>
	</fieldset>
	<input type="submit" value="Create poll" class="btn btn-lg btn-success btn-block">
</form>
