<form action="/poll/{{#poll.isEditing}}{{poll._id}}/edit{{/poll.isEditing}}{{^poll.isEditing}}new{{/poll.isEditing}}" method="post">
	{{#poll.isEditing}}
	<h1>Editing Poll</h1>
	{{/poll.isEditing}}
	<h2>Question</h2>
	<div class="form-group">
		<input type="text" class="form-control input-lg" name="question" placeholder="Enter a question..." value="{{poll.question}}">
	</div>

	<h2>Answers</h2>
	{{#poll.answers}}
	<div class="form-group">
		<input type="text" class="form-control input-lg" name="answers[]" placeholder="Enter an answer..." value="{{text}}">
	</div>
	{{/poll.answers}}
	<div class="form-group">
		<input type="text" class="form-control input-lg" name="answers[]" placeholder="Enter an answer...">
	</div>
	<div class="form-group">
		<input type="text" class="form-control input-lg" name="answers[]" placeholder="Enter an answer...">
	</div>
	<div class="form-group">
		<input type="text" class="form-control input-lg" name="answers[]" placeholder="Enter an answer...">
	</div>
	<fieldset>
		<legend>Options</legend>
		<div class="form-group">
			<label class="answer">
				<div class="input-group">
					<span class="input-group-addon">
						<input type="checkbox" name="multipleChoice"{{#poll.multipleChoice}} checked{{/poll.multipleChoice}}>
					</span>
					<p class="form-control">Allow multiple choice</p>
				</div>
			</label>
			<label class="answer">
				<div class="input-group">
					<span class="input-group-addon">
						<input type="checkbox" name="allowSameIP"{{#poll.allowSameIP}} checked{{/poll.allowSameIP}}>
					</span>
					<p class="form-control">Allow multiple votes from one IP</p>
				</div>
			</label>
		</div>
	</fieldset>
	<input type="submit" value="{{#poll.isEditing}}Save Changes{{/poll.isEditing}}{{^poll.isEditing}}Create Poll{{/poll.isEditing}}" class="btn btn-lg btn-success btn-block">
	{{#poll.isEditing}}
	<a href="/poll/{{poll._id}}" class="btn btn-lg btn-danger btn-block">Discard Changes</a>
	{{/poll.isEditing}}
</form>
