<h1 class="text-center">{{poll.question}}</h1>
<div class="row">
	<div class="col-xs-12 col-md-8">
		<div class="alert alert-info">
			{{#poll.unevenChoices}}
				You may select between {{poll.minChoices}} and {{poll.maxChoices}} answers.
			{{/poll.unevenChoices}}
			{{^poll.unevenChoices}}
				You may select {{poll.maxChoices}} answer(s).
			{{/poll.unevenChoices}}
		</div>
		<form action="/poll/{{poll._id}}/vote" method="post">
			{{#poll.answers}}
			<div class="form-group">
				<label class="answer">
					<div class="input-group">
						<span class="input-group-addon">
							<input
							type="checkbox"
							name="answers"
							value="{{_id}}"
							class="{{#disableVoting}}disabled{{/disableVoting}}"
							>
						</span>
						<p class="form-control">
							{{#isGame}}<img src="http://static-cdn.jtvnw.net/ttv-boxart/{{textEncoded}}-26x36.jpg">&nbsp;{{/isGame}}
							{{& text}}
						</p>
					</div>
				</label>
			</div>
			{{/poll.answers}}
			<div class="form-group">

			{{#poll.isVotable}}
				<button type="submit" class="btn btn-lg btn-success btn-block {{#disableVoting}}disabled{{/disableVoting}}">Vote</button>
			{{/poll.isVotable}}

			{{^poll.isVotable}}
				{{^loggedIn}}
					<p class="alert alert-danger">
						You must be logged in before you can vote in this poll. Please <a href="/login/twitchtv">Connect with Twitch</a> in order to vote.
					</p>
				{{/loggedIn}}
				{{^poll.isVersus}}
					{{#poll.mustSub}}
						{{^poll.isSubscribed}}
							<p class="alert alert-danger">
								You must be subscribed to {{poll.creator.displayName}} before you can vote in this poll. You can <a href="http://www.twitch.tv/{{poll.creator.username}}/subscribe" target="_blank">subscribe to them on Twitch</a>.
							</p>
						{{/poll.isSubscribed}}
					{{/poll.mustSub}}

					{{#poll.mustFollow}}
						{{^poll.isFollowing}}
							<p class="alert alert-danger">
								You must be following {{poll.creator.displayName}} before you can vote in this poll. You can <a href="http://www.twitch.tv/{{poll.creator.username}}" target="_blank">follow them on Twitch</a>.
							</p>
						{{/poll.isFollowing}}
					{{/poll.mustFollow}}
				{{/poll.isVersus}}
			{{/poll.isVotable}}
			</div>
		</form>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="well">
			{{#poll.creator}}
			<div class="row text-center creator">
				<a href="http://www.twitch.tv/{{poll.creator.username}}" target="_blank">
					<img src="{{poll.creator.avatar}}" class="avatar">
					{{poll.creator.displayName}}
				</a>
			</div>
			{{/poll.creator}}
			<div class="row text-center">
				<h3>
					<span data-bind="poll.totalVotes.total">{{poll.totalVotes.total}}</span> votes
				</h3>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-6">
					Created Date:
				</div>
				<div class="col-xs-6 col-md-6 text-right">
					<span data-time="{{poll.created}}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-6">
					Close Date:
				</div>
				<div class="col-xs-6 col-md-6 text-right">
					<span data-time="{{poll.closeTime}}"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<a href="/poll/{{poll._id}}/results" class="btn btn-primary btn-block btn-xs">Show Results</a>
				</div>
			</div>

			{{#poll.isEditable}}
			<div class="row">
				<div class="col-md-12">
					<a href="/poll/{{poll._id}}/edit" class="btn btn-warning btn-block btn-xs">Edit</a>
				</div>
			</div>
			{{/poll.isEditable}}

			{{#poll.isClosable}}
			<div class="row">
				<div class="col-md-12">
					<form action="/poll/{{poll._id}}/close" method="post">
						<button type="submit" class="btn btn-danger btn-block btn-xs">Close Poll</button>
					</form>
				</div>
			</div>
			{{/poll.isClosable}}

			{{#poll.userIsCreator}}
			<div class="row">
				<div class="col-md-12">
					<a href="/poll/{{poll._id}}/copy" class="btn btn-info btn-block btn-xs">Copy Poll As New</a>
				</div>
			</div>
			{{/poll.userIsCreator}}

		</div>

		<div class="well">
			<div class="row social-share-buttons text-center">
				<!-- Note: Facebook share buttons won't show on localhost; if it can't access it, it won't show the button -->
				<div class="fb-share-button" data-href="{{url}}" data-type="button"></div>
				<div class="g-plus" data-action="share" data-href="{{url}}" data-annotation="none"></div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{url}}" data-count="none" data-text="{{socialTitle}}" data-via="GamerPollsSite">Tweet</a>
			</div>
		</div>
	</div>
</div>
{{#yield-scripts}}
<script>
	var checkbox = $('input:checkbox');
	checkbox.click(function(){
		console.log(checkbox.filter(":checked").length);
		if(checkbox.filter(":checked").length > {{poll.maxChoices}}){
			$(this).prop('checked', false);
			toastr.error('You can only select up to {{poll.maxChoices}} answers, your selection has been reversed.');
			return false;
		}
		if(checkbox.filter(":checked").length < {{poll.minChoices}}){
			toastr.info('You must select at least '+({{poll.minChoices}} - checkbox.filter(":checked").length)+' more answers.');
			return true;
		}
		if(checkbox.filter(":checked").length == {{poll.maxChoices}}){
			toastr.success('You have selected the maximum number of options!');
			return true;
		}
	});

	$(function () {

		var socket = utils.getSocket();
		socket.on('close', function () {
			window.location.href = '/poll/{{poll._id}}/results';
		});
		socket.on('vote', function (poll) {
			$('[data-bind="poll.totalVotes.total"]').text(poll.totalVotes.total);
		});
	});
</script>
{{/yield-scripts}}
