body {
	padding: 50px;
	font: 14px Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.chart-label {
	color: #fff;
    text-align: center;
}

.chart-label-percent, .chart-tooltip-header {
    font-size: 150%;
}

.highcharts-tooltip span {
    z-index: 9999;  
}
.progress {
	background-color: #808080;
	width: 200px;
}
.progress-bar {
	height: 20px;
}
