html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	border-top: 1px solid #282828;
	line-height: 59px;
	padding-left: 25px;
	padding-right: 25px;
}

html {
	/* Prevent scroll on narrow devices */
	overflow-x: hidden;
}

.browsehappy {
	margin: 0;
	text-align: center;
}

.navbar .btn.login {
	background-color: #6441A5;
	border: medium none;
	margin-right: 20px;
}

.navbar .btn.login:hover {
	background-color: #6F4CB0;
}

.navbar .avatar {
	float: left;
	height: 32px;
	width: 32px;
	margin: -7px 10px -7px 0;
	border-radius: 32px;
}

/* Beta tag */
.navbar-brand:after {
    color: #FF0000;
    content: "[BETA]";
    font-size: 60%;
    font-weight: bold;
    margin: 15px 0 0 -65px;
    position: absolute;
}
/* End beta tag */

.creator .avatar {
	height: 32px;
	width: 32px;
	margin: -7px 0 -7px 5px;
	border-radius: 32px;
}

label.answer {
	width: 100%;
}

.chart-label {
	color: #fff;
	text-align: center;
}

.chart-label-percent, .chart-tooltip-header {
	font-size: 150%;
}

.highcharts-tooltip span {
	z-index: 9999;
}

.progress {
	height: 10px;
}

.well .row {
	padding: 2px 0;
}

.tt-suggestions {
	max-height: 300px;
	overflow: auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	word-wrap: break-word;
}

.answer .form-control {
	display: table;
	table-layout: fixed;
	word-wrap: break-word;
}

.social-share-buttons > * {
	vertical-align: top;
}

/* Fix Facebook iframe size when using a page account. See #50 */
.social-share-buttons .fb-share-button > span[style*="height: 0px;"],
.social-share-buttons .fb-share-button > span[style*="height: 0px;"] > iframe {
	height: 60px !important;
	width: 44px !important;
}

.js .mix {
	display: none;
}

a:hover,
a:active {
	text-decoration: none !important;
	text-underline: none !important;
}
