
<p class="alert alert-info">
	We are currently in a limited beta testing period. Twitch users with "subscribe" buttons are automatically enabled as beta users. Other beta users are accepted on a recommendation-basis from other beta testers. The only benefit of being a beta tester is the ability to <strong>create polls</strong>. All users are allowed to vote in polls if they have the link, taking into account any limits that the poll creator set.
</p>

<h1><span class="glyphicon glyphicon-stats"></span> GamerPolls</h1>
<p>
	Welcome to GamerPolls, a place to get the cold-hard opinion from gamers. We are geared towards <a href="http://twitch.tv">Twitch</a> streamers creating polls, with options to make it a subscriber/follower-only polls, or a unique "versus" mode where supporters and non-supported clash their votes against eachother.
</p>

<h3><span class="glyphicon glyphicon-comment"></span> Voice your idea!</h3>
<p>
	Your feedback is valuable to us as we are a community-driven site. Don't like what you see, want new features, or just want to say thanks? Send us an email or tweet your idea and we'll see what we can do!
</p>
