<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>{{title}}</h1>
		<p>Welcome to {{title}}, the place to do all your polling for Twitch.TV. We are currently in development, and intend to replicate much of the same functionality that <a href="http://strawpoll.me/">StrawPoll</a> has, just geared towards the Twitch community. Check out the <a href="https://github.com/GamerPolls/gamerpolls.com">GitHub repo</a> for more.</p>
	</body>
</html>
