<p class="alert alert-warning">
	We are currently in a closed beta testing period. This is an invite-only beta, so please don't contact us to get access. Currently the only benefit of being a beta tester is the ability to <strong>create polls</strong>. All users are allowed to vote in polls if they have the link, and only if the poll creator didn't set any limits.
</p>
<h1>TwitchPoll</h1>
<p>Welcome to TwitchPoll, the place to do all your polling for Twitch.TV. We are currently in development, and intend to replicate much of the same functionality that <a href="http://strawpoll.me/">StrawPoll</a> has, just geared towards the Twitch community. Check out the <a href="https://github.com/cletusc/twitchpoll">GitHub repo</a> for more.</p>
