<h1>Terms of Service</h1>
<p>
	Thanks for using GamerPolls. We are a simple site and we want to make this part simple too. No legal jargon, nothing that can confuse you&mdash;simple!
</p>

<h3>The Terms</h3>
<p>
	By using this site, you agree to use the features of the site responsibly. That's it!
</p>

<h1>Privacy</h1>
<p>
	We don't like when other sites use our data in ways we don't want them to. At GamerPolls, your privacy is very important to us, that's why we are open source, so you can see what we do with your data.
</p>

<h3>Twitch Account</h3>
<p>
	You are not required to log in via <a href="http://www.twitch.tv/" target="_blank">Twitch</a>, but it makes it easier for you to track your content and you can use some extra features on the site. When you login with Twitch, we collect the following information from your Twitch profile:
</p>

<table class="table">
	<thead>
		<th style="min-width: 15%;">What we collect</th>
		<th>Where we use it</th>
		<th title="See how we use the stuff that we collect." style="width: 25%;" class="hidden-xs">Code link</th>
	</thead>
	<tbody>
		<!-- Display Name -->
		<tr>
			<td>
				<code>Display Name</code></td>
			<td>Used around the site and visible to all users that can see your content.</td>
			<td class="hidden-xs">
				<a href="https://github.com/GamerPolls/gamerpolls.com/search?q=displayName&type=Code" target="_blank">
					<span class="glyphicon glyphicon-eye-open"></span> See how we use it!
				</a>
			</td>
		</tr>

		<!-- Avatar -->
		<tr>
			<td><code>Avatar</code></td>
			<td>Used around the site and visible to all users that can see your content.</td>
			<td class="hidden-xs">
				<a href="https://github.com/GamerPolls/gamerpolls.com/search?q=avatar&type=Code" target="_blank">
					<span class="glyphicon glyphicon-eye-open"></span> See how we use it!
				</a>
			</td>
		</tr>

		<!-- Username -->
		<tr>
			<td><code>Username</code></td>
			<td>Used in Twitch API calls and URL generation so that we can link back to your Twitch page.</td>
			<td class="hidden-xs">
				<a href="https://github.com/GamerPolls/gamerpolls.com/search?q=username&type=Code" target="_blank">
					<span class="glyphicon glyphicon-eye-open"></span> See how we use it!
				</a>
			</td>
		</tr>

		<!-- Email -->
		<tr>
			<td><code>Email</code></td>
			<td>We do not use your email currently but have plans to in the future for notifications. This page will be updated when we use it. <strong>We will never give your email to anyone, ever.</strong> We will never send any emails to you that you can't control, all emails will be opt-in.</td>
			<td class="hidden-xs">
				<a href="https://github.com/GamerPolls/gamerpolls.com/search?q=email&type=Code" target="_blank">
					<span class="glyphicon glyphicon-eye-open"></span> See how we use it!
				</a>
			</td>
		</tr>
	</tbody>
</table>

<h1>Changes</h1>
<p>
	This page may change at any time. For full history of changes, check out the <a href="https://github.com/GamerPolls/gamerpolls.com/commits/master/app/views/pages/privacy.html" target="_blank">revisions history</a>. If you aren't happy with a change or something else about the terms and privacy, please let us know!
</p>
