<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				&copy; Copyright GamerPolls 2016 {{#pkg}}<sup>(v{{version}})</sup>{{/pkg}}
			</div>
			<div class="col-md-6 text-center">
				<a href="/privacy" target="_blank"><i class="fa fa-book fa-fw"></i> Terms &amp; Privacy</a>
				&nbsp;|&nbsp;
				<a href="mailto:gamerpolls.com@gmail.com" target="_blank"><i class="fa fa-envelope fa-fw"></i> Email Us</a>
				&nbsp;|&nbsp;
				<a href="https://twitter.com/GamerPollsSite" target="_blank"><i class="fa fa-twitter fa-fw"></i> @GamerPollsSite</a>
				&nbsp;|&nbsp;
				<a href="https://github.com/GamerPolls/gamerpolls.com" target="_blank"><i class="fa fa-github fa-fw"></i> GamerPolls</a>
				{{#user.isAdmin}}
					&nbsp;|&nbsp;
					<a href="/admin/"><i class="fa fa-wrench fa-fw"></i> Administration</a>
				{{/user.isAdmin}}
			</div>
			<div class="col-md-3 text-right">
				<!-- <a href="#"><i id="flipthelights" title="Flip the lights!" class="fa fa-lightbulb-o fa-fw fa-2x"></i></a> -->
				<a href="#top"><i title="Back to top" class="fa fa-chevron-up fa-fw fa-2x"></i></a>
			</div>
		</div>
	</div>
</footer>
