<hr>
<footer>
	<p class="pull-right">
		<a href="#"><span id="flipthelights" title="Flip the lights!" class="glyphicons lightbulb"></span></a>
		<a href="#top"><span title="Back to top" class="glyphicon glyphicon-chevron-up"></span></a>
	</p>
	<p>
		&copy; GamerPolls 2014 {{#pkg}}<sup>(v{{version}}){{/pkg}}</sup>
		<span class="separator"> · </span>
		<a target="_blank" href="/privacy">Terms &amp; Privacy</a>
	</p>
	<p class="text-center">
		<a target="_blank" href="mailto:gamerpolls.com@gmail.com">
			<span class="glyphicon glyphicon-envelope"></span> Email
		</a>
		<span class="separator"> · </span>
		<a target="_blank" href="https://twitter.com/GamerPollsSite">
			<img src="/img/social/twitter_bird_blue_16x16.png"> @GamerPollsSite
		</a>
		<span class="separator"> · </span>
		<a target="_blank" href="https://github.com/GamerPolls/gamerpolls.com">
			<img src="/img/social/github_blacktocat_16x16.png"> GamerPolls
		</a>
	</p>
</footer>
