<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/" data-toggle="tooltip" title="WE BETA NOW <img src='/img/tornisPeka.png'/>" data-html="true" data-placement="bottom">
				<i class="fa fa-bar-chart fa-fw"></i> GamerPolls
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/"><i class="fa fa-home fa-fw"></i> Home</a></li>
				{{#user.isBetaTester}}
				<li><a href="/poll/new"><i class="fa fa-pie-chart fa-fw"></i> New Poll</a></li>
				{{/user.isBetaTester}}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{{#loggedIn}}
					<li>
						<a href="/account" class="navbar-link" title="My Account">
							<img src="{{ user.avatar }}" class="avatar"> {{ user.displayName }}
						</a>
					</li>
					<li>
						<a href="/logout" class="navbar-link logout" title="Logout">
							<i class="fa fa-sign-out fa-fw"></i> Logout
						</a>
					</li>
				{{/loggedIn}}
				{{^loggedIn}}
					{{^twitchStatus}}
						<a href="/login/twitchtv" class="btn btn-success navbar-btn login"><i class="fa fa-twitch fa-fw"></i> Connect with Twitch</a>
					{{/twitchStatus}}
				{{/loggedIn}}
			</ul>
		</div>
	</div>
</nav>
