<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{#title}}{{title}} | {{/title}}GamerPolls{{^title}} | Polls for the gaming community!{{/title}}</title>

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/bootstrap-theme.css">
		<link rel="stylesheet" href="/css/darkstrap.css">
		<link rel="stylesheet" href="/css/main.css">

		{{{yield-styles}}}

		<script src="/js/vendor/modernizr-2.7.0.min.js"></script>
	</head>
	<body>
		<!--[if lt IE 8]>
			<p class="alert alert-danger browsehappy">
				You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
			</p>
		<![endif]-->
		<noscript>
			<p class="alert alert-warning browsehappy">
				We require that you have JavaScript enabled. Please <a href="http://enable-javascript.com/">enable JavaScript on your browser</a> in order to get the full functionality of the site.
			</p>
		</noscript>
		
		{{>layout/header}}

		<div class="container">

			{{#flash}}
				<p class="alert alert-{{type}}">{{text}}</p>
			{{/flash}}

			{{{yield}}}
			
			{{>layout/footer}}

		</div>

		{{{yield-ich}}}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
		<script src="/js/vendor/bootstrap.min.js"></script>
		<script src="/js/vendor/ICanHaz.min.js"></script>
		<script src="/js/moment.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/plugins.js"></script>
		<script src="/js/utils.js"></script>
		<script src="/js/main.js"></script>

		{{{yield-scripts}}}
	</body>
</html>
